.up{
    /* Rectangle 1 */


    position: absolute;
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;

    background: #f53030;
}
html{
    background: rgb(31,58,189);
background: -moz-linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
background: -webkit-linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
background: linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f3abd",endColorstr="#f53030",GradientType=1);
}
.side{
    /* Rectangle 2 */


    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgb(31,58,189);
background: -moz-linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
background: -webkit-linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
background: linear-gradient(41deg, rgba(31,58,189,1) 31%, rgba(245,48,48,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f3abd",endColorstr="#f53030",GradientType=1);
}
.lat1{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 20%;
    
    background: #ffffff2c;
    border-radius: 42px;

}
.lat2{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 40%;

       background: #ffffff2c;

    border-radius: 42px;

}
.lat3{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 60%;

       background: #ffffff2c;

    border-radius: 42px;

}
.lat4{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 80%;

       background: #ffffff2c;

    border-radius: 42px;

}
.display{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 35%;
    top: 30%;

    background: #ffffff2c;
    border-radius: 100px;
}
.action{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 35%;
    top: 70%;

    background: #ffffff2c;
    border-radius: 45px;

}
.view{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 65%;
    top: 70%;

    background: #ffffff2c;
    border-radius: 45px;

}
.action:hover{
    background-color: #f530309c;
    transition: all 0.5s;
}
.view:hover{
    background-color: rgba(31, 57, 189, 0.521);
    transition: all 0.5s;
}
.lat1:hover{
    background-color: white;
    transition: all 0.5s;
}
.lat2:hover{
    background-color: white;
    transition: all 0.5s;
}
.lat3:hover{
    background-color: white;
    transition: all 0.5s;
}
.lat4:hover{
    background-color: white;
    transition: all 0.5s;
}
Body{
    font-family:fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
    line-height: 60%;
    
    color: #000000;
}
p{
    
    margin-left: 27%;
    
}
#help_left{
    position: absolute;
    width: 2%;
    height: 4%;
    left: 53%;
    top: 88%;
    border-radius: 100%;
    background: #1b1b1b;
    text-align: center;
    font-size: 90%;
}
#help_right{
    position: absolute;
    width: 2%;
    height: 4%;
    left: 82%;
    top: 88%;
    border-radius: 100%;
    background: #1b1b1b;
    text-align: center;
    font-size: 90%;
}
#help_icon{
    margin-top: 20%;
}

#help_left:hover{
    background-color: #7ABBD7;
    transition: all 0.5s;
}
#help_right:hover{
    background-color: #7ABBD7;
    transition: all 0.5s;
}

#help_left_txt{
    position: absolute;
    font-size: larger;
    

}

#icon_1{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 5%;
    top: 35%;

    background: #7ABBD7;
}
#icon_2{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 5%;
    top: 35%;

    background: #7ABBD7
}
#icon_3{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 5%;
    top: 35%;

    background: #7ABBD7
}
#icon_4{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 5%;
    top: 35%;

    background: #7ABBD7
}
img{
    width: 30%;
    margin-top: 8%;
    margin-left: 10%;
}
#customer_icon{
    width: 15%;
    position: absolute;
    left: 10%;

}
#employer_icon{
    width: 11%;
    position: absolute;
    margin-bottom: 10%;
}
#display_txt{
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 20%;
    line-height: 100%;
    left: 0%;
}
#store_icon{
    width: 15%;
    position: absolute;
    margin-bottom: 10%;

}
#sale_icon{
    width: 17%;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 5%;
}
#display_icon{
    position: absolute;
    width: 15%;
    margin-bottom: 15%;
}
#name{
    border-radius: 15px;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.425);
}
#age{
    border-radius: 15px;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.425);
}
#send{
    border-radius: 15px;
    width: 50%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.425);
}

#name:hover{
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 0.719);
    transition: all 1s;
}
#age:hover{
    border-radius: 15px;
    
    background-color: rgba(250, 250, 250, 0.884);
    transition: all 1s;
}
#send:hover{
    border-radius: 15px;
        background-color: rgba(75, 105, 240, 0.479);

transition: all 1s;}


#lat1 {background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%)}
#lat1 {
   
   width: 60%;
   height: 10%;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(29, 29, 29);            
   box-shadow: 0 0 20px rgb(0, 0, 0);
   border-radius: 45px;
   display: block;
 }

 #lat1:hover {
   background-position: right center; /* change the direction of the change here */
   
   text-decoration: none;
 }

